@model List<Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customer Manager</h1>

<table class="table table-bordered table-striped">
    
    <tbody>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    
    
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.FullName</td>
                <td>@customer.Address</td>

                <td>
                    <a asp-controller="Customer" asp-action="AddEdit" asp-route-id="@customer.CustomerID">Edit

                    </a> 
                </td>

                <td>
                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.CustomerID">Delete

                </a>
                </td>

            </tr>
        }
    </tbody>
</table>

<a asp-controller="Customer" asp-action="AddEdit">Add Customer</a>
